.container {
  text-align: center;
}
.title {
}
.wrapper {
}

.field {
}

.name {
}
.email {
}
.password {
}

.input {
  width: 200px;
  font-size: 14px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
  background-color: #ffffff;
}

.input:focus {
}

.button {
}

.button:hover,
.button:focus {
}
